* {
    box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://a-static.besthdwallpaper.com/lofi-cafe-studying-art-wallpaper-3000x2000-85076_42.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}